<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<!-- play.html.erb -->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <%= stylesheet_link_tag "play.css" %>
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<%= params.inspect %>
<!--Interface for actual gameplay will go here-->
<div id="versusBox">
  <b>Level One</b><br> Sam <br>Vs<br>Cantankerous Caterpillar!
</div>
<div id="container">
<div id="battlefield">
  <%= image_tag("blackButterfly.jpg", :id => 'blackButterfly', :alt => 'blackButterfly') %>
  <%= image_tag("cantankerousCaterpillar.jpg", :id => 'caterpillar', :alt => 'cantankerousCaterpillar') %>
</div>
<div id="attacks">
<button>
Attack
</button>
  <button>
    Heal
  </button>
  <button>
    Dive
  </button>
  <button>
    Whoosh
  </button>

</div>
</div>

</body>
</html>
