<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<!-- highscore.html.erb -->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <meta charset="UTF-8">
  <title>Character Creation</title>
</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>
<!--High Score Table will go here-->

    <table align="center">
      <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% @highscores.each do |score| %>
          <tr><td><%= score.p_name %></td>
          <td><%= score.level %></td>
          <td><%= score.date %></td>
          <td><%= score.p_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

