<!DOCTYPE html>
<html>
<!--Samantha Holloway Senior Project Oct 2014-->
<!-- new.html.erb -->
<head lang="en">
  <%= stylesheet_link_tag "creation.css" %>
  <%= stylesheet_link_tag "Main.css" %>
  <%= javascript_include_tag "creation.js" %>
  <script src="creation.js"></script>
  <meta charset="UTF-8">
  <title>Character Creation</title>
</head>
<body>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<h2>Create Your Character!</h2>

<h2>To start off, choose a name for your character.</h2>

<%= form_for :game, url:games_path do |g| %>

<fieldset>
<div id="namefield" >
  <%= g.text_field :p_name %>
</div>
</fieldset>

<h2>Now, choose your color</h2>
<fieldset>
<div id="colorPicker">
  <%= g.radio_button :p_color, :purple , options ={:onclick=> "pictureChange('purplePicButterfly')"}%>
  <%= label_tag(:color_purple, "Purple") %>
  <%= g.radio_button :p_color, :red , options ={:onclick=> "pictureChange('redPicButterfly')"}%>
  <%= label_tag(:color_red, "Red") %>
  <%= g.radio_button :p_color, :black , options ={:onclick=> "pictureChange('blackPicButterfly')"}%>
  <%= label_tag(:color_black, "Black") %>
  <%= image_tag("transparent.png", :class => 'butterfly', :id => 'purplePicButterfly', :alt => 'Butterfly') %>
  <!-- Transparent image used to place behind a Sprite sheet
   that is used to switch in and out Butterfly Images-->
</div>
</fieldset>


<h2>You get to pick 3 special abilities, 1 from each category.</h2>
  <h2>Defensive Ability</h2>
  <fieldset>
  <div id="defensePicker">
     <%= g.radio_button :p_defense, :Heal , options ={:onclick=> "changeToolTip('HealText', '.DefenseToolTip')"}%>
     <%= label_tag(:defense_heal, "Heal") %>
     <%= g.radio_button :p_defense, :Block , options ={:onclick=> "changeToolTip('BlockText', '.DefenseToolTip')"}%>
     <%= label_tag(:defense_block, "Block") %>
     <%= g.radio_button :p_defense, :Sleep , options ={:onclick=> "changeToolTip('SleepText', '.DefenseToolTip')"}%>
     <%= label_tag(:defense_sleep, "Sleep") %>
     <span class="DefenseToolTip" id="HealText">Heal will allow you to heal your character for a medium amount.</span>
     <span class="DefenseToolTip" id="BlockText">Block will allow you to block a medium or less attack, and
      slightly reduce a heavy attack</span>
     <span class="DefenseToolTip" id="SleepText">Sleep will allow you to heal for a large amount, but you
      lose your next turn.</span>
  </div>
  </fieldset>


  <h2>Offensive Ability</h2>
  <fieldset>
  <div id="offensivePicker">
    <%= g.radio_button :p_offense, :Dive , options ={:onclick=> "changeToolTip('DiveText', '.OffenseToolTip')"}%>
    <%= label_tag(:offense_dive, "Dive") %>
    <%= g.radio_button :p_offense, :Pummel , options ={:onclick=> "changeToolTip('PummelText', '.OffenseToolTip')"}%>
    <%= label_tag(:offense_dive, "Pummel") %>
    <%= g.radio_button :p_offense, :Poke , options ={:onclick=> "changeToolTip('PokeText', '.OffenseToolTip')"}%>
    <%= label_tag(:offense_dive, "Poke") %>
    <span class="OffenseToolTip" id="DiveText">Dive lets you fly into the air and then smash into your opponent
    for a large amount of damage, but you take a small amount of damage as well.</span>
    <span class="OffenseToolTip" id="PummelText">You pummel the enemy with your wings, dealing a medium amount
    of damage.</span>
    <span class="OffenseToolTip" id="PokeText">You poke your enemy in the eye with your antennae
    dealing a large amount of damage, you lose your next turn to clean off. Ew.</span>
  </div>
  </fieldset>


  <h2>Wild Ability</h2>
  <fieldset>
  <div id="wildPicker">
    <%= g.radio_button :p_wild, :Dazzle , options ={:onclick=> "changeToolTip('DazzleText', '.WildToolTip')"}%>
    <%= label_tag(:offense_dazzle, "Dazzle") %>
    <%= g.radio_button :p_wild, :Whoosh , options ={:onclick=> "changeToolTip('WhooshText', '.WildToolTip')"}%>
    <%= label_tag(:offense_whoosh, "Whoosh") %>
    <%= g.radio_button :p_wild, :Innocence , options ={:onclick=> "changeToolTip('InnocenceText', '.WildToolTip')"}%>
    <%= label_tag(:offense_Innocence, "Innocence") %>
    <span class="WildToolTip" id="DazzleText">You dazzle the enemy with your beautiful wings, they attack
    second for the next two turns.</span>
    <span class="WildToolTip" id="WhooshText">You fly wildly around your enemy, they may hit themselves
    the next turn.</span>
    <span class="WildToolTip" id="InnocenceText">You sit innocently in front of your enemy, they
    may feel too bad to hit you next turn.</span>
  </div>
  </fieldset>


  <h2>Now for your character's stats. You get extra points in one of these.</h2>
  <fieldset>
  <div id="statPicker">
    <%= g.radio_button :p_stat_boost, :Strength , options ={:onclick=> "statChange('Strength')"}%>
    <%= label_tag(:stat_strength, "Strength") %>
    <%= g.radio_button :p_stat_boost, :Defense , options ={:onclick=> "statChange('Defense')"}%>
    <%= label_tag(:stat_defense, "Defense") %>
    <%= g.radio_button :p_stat_boost, :Speed , options ={:onclick=> "statChange('Speed')"}%>
    <%= label_tag(:stat_speed, "Speed") %>
    <%= g.radio_button :p_stat_boost, :Stamina , options ={:onclick=> "statChange('Stamina')"}%>
    <%= label_tag(:stat_stamina, "Stamina") %>
    <span class ="statPicker">
      <%= image_tag("transparent.png", :class => 'stat', :id => 'Strength', :alt => 'Strength') %>

    </span>
  </div>
  </fieldset>



<h2>Check over your selections, they are permanent once you continue.</h2>
<button id="submit"><%= g.submit %></button>



<a href="#name" id="Backtotop">Back to Top</a>
<% end %>
</body>
</html>
