<!DOCTYPE html>
<!--Samantha Holloway Senior Project Oct 2014-->
<!-- update.html.erb -->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <%= stylesheet_link_tag "play.css" %>
  <%= javascript_include_tag "jquery-2.1.1.min" %>
  <%= javascript_include_tag "play" %>
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>

<p><%= @game.pName %></p>
<p><%= @game.pHealth %></p>
<p><%= @game.pDefense %></p>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>
<!-- The parameters from create page -->


<div id="versusBox">
  <b>Level One</b><br> <%= @game.pName %> <br>Vs<br>Cantankerous Caterpillar!
</div>
<div id="container">
<div id="battlefield">
  <div id="characterfield" >
    <canvas id="charhealthbar"> </canvas>
        <%= if @game.pColor == "black"
                image_tag("blackButterfly.jpg", :id => 'blackButterfly', :alt => 'blackButterfly')
            elsif @game.pColor == "red"
                image_tag("redButterfly.jpg", :id => 'redButterfly', :alt => 'redButterfly')
            else
                image_tag("purpleButterfly.jpg", :id => 'purpleButterfly', :alt => 'purpleButterfly')
            end
        %>
  </div>
  <div id="npcfield">
    <canvas id="npchealthbar"></canvas>
        <%= image_tag("cantankerousCaterpillar.jpg", :class =>'npcimage', :id => 'caterpillar', :alt => 'cantankerousCaterpillar') %>
  </div>
</div>
<div id="attacks">
    <button>

    </button>
    <button>
       <%=  @game.pDefenseAbility %>
    </button>
    <button>
       <%= @game.pOffenseAbility %>
    </button>
    <button>
       <%= @game.pWildAbility %>
    </button>
</div>
</div>
<!--rake db:reset clear entries-->
<%= link_to 'Attack', games_update_path %>
</body>
</html>
