<!DOCTYPE html>
<!--Samantha Holloway Senior Project Nov 2014-->
<!-- update.html.erb -->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <%= stylesheet_link_tag "play.css" %>
  <%= javascript_include_tag "jquery-2.1.1.min" %>
  <%= javascript_include_tag "play" %>
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>

<p><%= @game.p_defense %></p>
<p><%= @game.p_name %></p>
<p id="npc_cur_health"><%= @game.npc_cur_health %></p>
<p id="p_cur_health"><%= @game.p_cur_health %></p>
<p id="npc_max_health"><%= @game.npc_max_health %></p>
<p id="p_max_health"><%= @game.p_max_health %></p>
<p><%= @game.p_color %></p>
<p><%= @saved %></p>
<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<div id="versusBox">
  <b>Level <%= @game.level %></b><br> <%= @game.p_name %> <br>Vs<br><%= @game.npc_name %>
</div>
<div id="container">
<div id="battlefield">
  <div id="characterfield" >
    <canvas id="phealthbar"></canvas>
        <%= if @game.p_color == "black"
                image_tag("blackButterfly.jpg", :id => 'blackButterfly', :alt => 'blackButterfly')
            elsif @game.p_color == "red"
                image_tag("redButterfly.jpg", :id => 'redButterfly', :alt => 'redButterfly')
            else
                image_tag("purpleButterfly.jpg", :id => 'purpleButterfly', :alt => 'purpleButterfly')
            end
        %>
  </div>
  <div id="npcfield">
    <canvas id="npchealthbar"></canvas>
        <%= image_tag("cantankerousCaterpillar.jpg", :class =>'npcimage', :id => 'caterpillar', :alt => 'cantankerousCaterpillar') %>
  </div>
</div>
<div id="attacks">
       <% if @game.p_win == FALSE && @game.npc_win == FALSE %>
       <%= link_to 'Attack', games_update_path(:option => 'Attack') %>
       <%= link_to @game.p_defense, games_update_path %>
       <%= link_to @game.p_offense, games_update_path %>
       <%= link_to @game.p_wild, games_update_path %>
       <% else %>
       <%= link_to 'Continue', games_update_path %>
       <% end %>

</div>
</div>
<!--rake db:reset clear entries-->


</body>
</html>
