<!DOCTYPE html>
<!--Samantha Holloway Senior Project Nov 2014-->
<!-- update.html.erb -->
<html>
<head lang="en">
  <%= stylesheet_link_tag "Main.css" %>
  <%= stylesheet_link_tag "play.css" %>
  <%= javascript_include_tag "jquery-2.1.1.min" %>
  <%= javascript_include_tag "play" %>
  <meta charset="UTF-8">
  <title>Play!</title>
</head>
<body>


<%= image_tag("Headline.jpg", :class => 'WebsiteName', :alt => 'Logo') %>

<div id = "stageArea">
<div id="versusBox">
  <b>Level <%= @game.level %></b><br> <%= @game.p_name %> <br>Vs<br><%= @game.npc_name %>
</div>
<div id="historyBox">
  <div id="history">
    <p><%= @game.npc_name %></p>
    <% if @game.npc_last_move != 'None' %>
    <p>used <%= @game.npc_last_move %>!</p>
    <% end %>
    <p id="npc_cur_health">NPC Health <%= @game.npc_cur_health %></p>
    <p id="p_cur_health"> Player Health <%= @game.p_cur_health %></p>

  </div>
</div>
<div id="container">
<div id="battlefield">
  <div id="characterfield" >
    <canvas id="phealthbar"></canvas>
        <%= if @game.p_color == "black"
                image_tag("blackButterfly.jpg", :id => 'blackButterfly', :alt => 'blackButterfly')
            elsif @game.p_color == "red"
                image_tag("redButterfly.jpg", :id => 'redButterfly', :alt => 'redButterfly')
            else
                image_tag("purpleButterfly.jpg", :id => 'purpleButterfly', :alt => 'purpleButterfly')
            end
        %>
  </div>
  <div id="npcfield">
    <canvas id="npchealthbar"></canvas>
        <%= image_tag(@game.npc_file, :class =>'npcimage', :id => @game.npc_name, :alt => @game.npc_name) %>
  </div>
</div>
<div id="attacks">
       <%  if @game.over == TRUE %>
       <%= link_to 'High Score', games_highscore_path %>
       <% elsif @game.retry == TRUE %>
       <%= link_to 'Continue', games_update_path(:option => 'Retry') %>
       <%  elsif @game.p_win == FALSE && @game.npc_win == FALSE %>
       <%= link_to 'Attack', games_update_path(:option => 'Attack') %>
       <%= link_to @game.p_defense, games_update_path(:option => 'Defense') %>
       <%= link_to @game.p_offense, games_update_path(:option => 'Offense') %>
       <%= link_to @game.p_wild, games_update_path(:option => 'Wild') %>
       <% else %>
       <%= link_to 'Continue', games_update_path(:option => 'Decision') %>
       <% end %>

</div>
</div>
</div>

</body>
</html>
